<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itbird.design">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".singleton.activitymanager.RegisterActivity" />
        <activity android:name=".singleton.activitymanager.LoginActivity" />
        <activity android:name=".singleton.SingletonActivity" />
        <activity android:name=".builder.BuilderActivity" />
        <activity android:name=".chaiin.ChainActivity" />
        <activity android:name=".decorator.DecoratorActivity" />
        <activity android:name=".factory.FactoryActivity" />
        <activity android:name=".observer.ObserverActivity" />
        <activity android:name=".principle.PrincipleActivity" />
        <activity android:name=".template.TemplateActivity" />
        <activity android:name=".strategy.StrategyActivity" />
        <activity android:name=".adapter.AdapterActivity" />
        <activity android:name=".proxy.ProxyActivity" />
        <activity android:name=".prototype.PrototypeActivity" />
        <activity android:name=".iterator.IteratorActivity" />
        <activity android:name=".flyweight.FlyWeightActivity" />
        <activity android:name=".facade.FacadeActivity" />

        <provider
            android:name=".iterator.database.DataProvider"
            android:authorities="com.itbird.design.iterator.database.DataProvider" />
    </application>

</manifest>